{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Customers"|trans }}{% endblock %}

{% block contentBody %}

    <div class="row">
        <div class="col-md-12">

            {{ filter_render(filter) }}

            <div class="portlet-body custom-table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ "Id"|trans }}</th>
                            <th>{{ "Name"|trans }}</th>
                            <th>{{ "Public place"|trans }}</th>
                            <th>{{ "RGI"|trans }}</th>
                            <th>{{ "Hidro"|trans }}</th>
                            <th style="min-width: 120px; max-width: 120px;">{{ "Actions"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in result %}
                            <tr class="odd gradeX">
                                <td>{{ entity.id }}</td>
                                <td>
                                    <a class="btn btn-xs default btn-customer"
                                       data-target="#modal"
                                       data-id="{{ entity.id }}"
                                       data-toggle="modal"
                                       href="{{ path('customer_show', { 'id': entity.id}) }}">
                                        {{ entity.name|default('No name'|trans) }}
                                    </a>
                                </td>
                                {% if entity.complement is empty %}
                                    {% set complement = '' %}
                                {% else %}
                                    {% set complement = ', ' ~ entity.complement %}
                                {% endif %}
                                <td>{{ entity.publicPlace|humanize }}
                                    , {{ entity.number|default('') }}{{ complement|default('') }}</td>
                                <td>{{ entity.rgi }}</td>
                                <td>{{ entity.hydrometer }}</td>
                                <td>
                                    <a title="{{ "Edit"|trans }}" class="btn btn-xs blue-hoki"
                                       href="{{ path('customer_edit',{'id':entity.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a title="{{ "Delete"|trans }}"
                                       class="btn btn-xs red btn-delete"
                                       data-toggle="modal"
                                       data-id="{{ entity.id }}"
                                       data-name="{{ entity.name }}"
                                       data-href="{{ path('customer_delete', {'id':entity.id}) }}">
                                        <i class="fa fa-close"></i>
                                    </a>

                                    <a title="{{ "Materials"|trans }}" class="btn btn-xs blue"
                                       href="{{ path('material_customer_create',{'id':entity.id}) }}">
                                        <i class="fa fa-gavel"></i>
                                    </a>

                                </td>

                            </tr>
                        {% endfor %}
                        {% if filter.result|length == 0 %}

                            <tr>
                                <td colspan="100%" align="center">{{ "No data found"|trans }}</td>
                            </tr>

                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                {{ knp_pagination_render(filter.result, 'FilterBundle:Filter:pagination.html.twig') }}
            </div>

        </div>

    </div>

    {# Modal Delete #}
    {% include 'BackendBundle:Customer:delete.html.twig' %}

{% endblock %}
