<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">{{ "Customer"|trans ~ ": " ~ customer.name }} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Codification"|trans }}</label>

                            <div class="col-md-8 maskCodification">
                                {{ customer.codification }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Rgi"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.rgi }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Tl"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.tl }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Hydrometer"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.hydrometer }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Seal link"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.sealLink }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Service one"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.serviceOne }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Service two"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.serviceTwo }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Social tariff"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.socialTariff }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Expiration social tariff"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.expirationSocialTariff|date('d/m/Y') }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Public place"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.publicPlace.typePublicPlace }} {{ customer.publicPlace.publicPlace }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Number"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.number }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Complement"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.complement }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Zipcode"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.zipcode }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Home phone"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.homePhone }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Cell phone"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.cellPhone }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Birthday date"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.birthdayDate|date('d/m/Y') }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Name"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.name }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Document"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.document }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Social security"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.socialSecurity }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Email"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.email }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Water tank"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.waterTank }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Property relationship"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.propertyRelationship|trans }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Time occupation"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.timeOccupation }} (meses)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Amount mature"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.amountMature }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Amount children"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.amountChildren }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Type economy"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.typeEconomy|trans }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Saving amount"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.savingAmount }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Branch activity"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.branchActivity }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Date link"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.dateLink|date('d/m/Y') }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ "Date register"|trans }}</label>

                            <div class="col-md-8">
                                {{ customer.dateRegister|date('d/m/Y') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn default">{{ "Close"|trans }}</button>
</div>