{% block contentTitle %}{{ ""|trans }}{% endblock %}

{% extends '::content.html.twig' %}

    {% block contentBody %}

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i>{{ "Change password"|trans }}
                </div>
            </div>
            <div class="portlet-body form">
                {{ form_start(form, {'action': path('fos_user_change_password'), 'attr':{'class':'customForm form-horizontal'}}) }}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="{% if form.current_password.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.current_password,'' ,{ 'label_attr': {'class': 'control-label'} }) }}
                                {{ form_widget(form.current_password) }}
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="{% if form.plainPassword.first.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.plainPassword.first,'' ,{ 'label_attr': {'class': 'control-label'} }) }}
                                {{ form_widget(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="{% if form.plainPassword.second.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.plainPassword.second,'' ,{ 'label_attr': {'class': 'control-label'} }) }}
                                {{ form_widget(form.plainPassword.second) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-1" style="float: right; margin-right: 15px;">
                                    <button type="submit" class="btn blue-hoki">{{ "Save" | trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

    {% endblock %}
