{% extends '::base.html.twig' %}

{% block bodyClass %}page-header-fixed page-sidebar-closed-hide-logo ppage-sidebar-closed-hide-logo{% endblock %}
{% block body %}

    {% block header %}

        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner">
                <div class="page-logo">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/backend/metronic/assets/admin/layout4/img/logo-light.png') }}"
                             alt="logo" class="logo-default"/>
                    </a>

                    <div class="menu-toggler sidebar-toggler">
                    </div>
                </div>

                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                   data-target=".navbar-collapse">
                </a>

                <div class="page-top">

                    {#<form method="GET" action="{{ path('customer') }}" class="search-form">#}
                        {#<div class="input-group">#}
                            {#<input type="text" name="name" placeholder="{{ "Search customer by name..."|trans }}" class="form-control input-sm">#}
					{#<span class="input-group-btn">#}
					{#<a class="btn submit" href="javascript:;"><i class="icon-magnifier"></i></a>#}
					{#</span>#}
                        {#</div>#}
                    {#</form>#}


                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                   data-close-others="true">
								<span class="username username-hide-on-mobile">
								{{ app.user.username }}
								</span>
                                    <img alt="" class="img-circle"
                                         src="{{ asset('bundles/backend/metronic/assets/admin/layout4/img/avatar.png') }}"/>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{{ path('fos_user_change_password') }}">
                                            <i class="icon-key"></i> {{ "Change password"|trans }} </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out"></i> {{ "Logout"|trans }} </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block container %}

        <div class="page-container">

            {% block sidebar %}

                <div class="page-sidebar-wrapper">

                    <div class="page-sidebar navbar-collapse collapse">

                        {{ knp_menu_render('BackendBundle:Builder:sideBar', {'ancestorClass':'active','currentClass': 'active', 'template': '::sidebar.html.twig'}) }}

                    </div>

                </div>

            {% endblock %}

            {% block content %}{% endblock %}

        </div>

    {% endblock %}


{% endblock %}

