{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Materials"|trans }}{% endblock %}

{% block contentBody %}

    <div class="row">
        <div class="col-md-12">

            {{ filter_render(filter) }}

            <div class="portlet-body custom-table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ "Id"|trans }}</th>
                            <th>{{ "Description"|trans }}</th>
                            <th>{{ "Code"|trans }}</th>
                            <th>{{ "Unit"|trans }}</th>
                            <th>{{ "Created at"|trans }}</th>
                            <th>{{ "Actions"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in result %}
                            <tr class="odd gradeX">
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.description }}</td>
                                <td>{{ entity.code }}</td>
                                <td>{{ entity.unit }}</td>
                                <td>{{ entity.createdAt|date('d/m/Y')}}</td>
                                <td style="min-width: 70px; max-width: 70px;">
                                    <a title="{{ "Edit"|trans }}" class="btn btn-xs blue-hoki"
                                       href="{{ path('material_edit',{'id':entity.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a title="{{ "Delete"|trans }}"
                                       class="btn btn-xs red btn-delete"
                                       data-toggle="modal"
                                       data-id="{{ entity.id }}"
                                       data-name="{{ entity.description }}"
                                       data-href="{{ path('material_delete', {'id':entity.id}) }}">
                                        <i class="fa fa-close"></i>
                                    </a>

                                </td>

                            </tr>
                        {% endfor %}
                        {% if filter.result|length == 0 %}

                            <tr>
                                <td colspan="100%" align="center">{{ "No data found"|trans }}</td>
                            </tr>

                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                {{ knp_pagination_render(filter.result, 'FilterBundle:Filter:pagination.html.twig') }}
            </div>

        </div>

    </div>

    {# Modal Delete #}
    {% include 'BackendBundle:Material:delete.html.twig' %}

{% endblock %}